<p>employee works!</p>
<input type="text"
       #box
       placeholder="Enter your name"
       name="username"/>

<button (click)="getValue(box.value)">Click Me</button>
      Box value is  : {{displayVal}}

      <button (click)="counter('add')">++</button>
      Count value is  : {{count}}
      <button (click)="counter('minus')">--</button>
      <hr/>
      <h1> Register User</h1>
      <form #basicForm="ngForm" (submit)="getData(basicForm.value)">
       <input type="text" ngModel name="user" placeholder="Enter user name"/>
       <br/>
       <input type="email" ngModel name='email' placeholder="Enter email"/>
       <br/>
       <input type="password" ngModel name='password' placeholder="Enter password"/>
       <button> Register </button>
       <br/>
       

      </form>

      
          <input type='text' value="{{name}}" disabled="{{disable}}">
          <br/>
          <input type='text' [value]="name" [disabled]="disable">
          
      